<main class="container">
	<div class="menu">
			<div class="logo"[ngStyle]="{'opacity': appear}">
				<i class="fa fa-diamond" aria-hidden="true"></i>
			</div>
			<section class="content">
				<div class="inner" [ngStyle]="{'opacity': appear}">
					<h1> Pensycountries</h1>
					<p>Once you have traveled with us the journey never ends. Pensycontries is your best option to live remarkable experiences.</p>	
				</div>
			</section>
			<nav class="nav">
				<ul class="list">
					<li>
						<a class="transparent" [routerLink]="['/information/destinations']" >Destinations</a>
					</li>
					<li>
						<a class="transparent" [routerLink]="['/information/about']" >About us</a>
					</li>
					
					<li>
						<a class="transparent" [routerLink]="['/information/shopping']" >Shopping Cart</a>
					</li>
				</ul>
			</nav>
	</div>

</main>