<main class="container">
	<div class="menu">
			<div class="logo"[ngStyle]="{'opacity': appear}">
				<i class="fas fa-plane"></i>
			</div>
			<section class="content">
				<div class="inner" [ngStyle]="{'opacity': appear}">
					<h1> Pensycountries</h1>
					<p>Once you have traveled with us the journey never ends, it is recreated over and over again from souvenir showcases, the mind never leaves the journey. Pensycontries is your best option to live remarkable experiences.</p>	
				</div>
			</section>
			<nav class="nav">
				<ul class="list">
					<li>
						<a class="transparent" [routerLink]="['/information/destinations']" >Destinations</a>
					</li>
					<li>
						<a class="transparent" [routerLink]="['/information/about']" >About us</a>
					</li>
					<li>
						<a class="transparent" [routerLink]="['/information/searcher']" >Searcher</a>
					</li>
					<li>
						<a class="transparent" [routerLink]="['/information/shopping']" >Shopping Cart</a>
					</li>
				</ul>
			</nav>
	</div>

</main>