<main class="container">

    <section class="searcher-header">
		<section class="searcher-header-heading">
			<h3 class="">Pensycountrie's Searcher</h3>
			<h4>
				You can find any country you want around the world.
			</h4>
			<a [routerLink]="['/main/home']" class="btn btn-white">Go to menu</a>
		</section>
	</section>

	<section class="searcher-searcher">
		
			<input class="searcher-input" maxlength="20" type="text" (keyup.enter)="searchDestination(destination.value)" #destination>
			<button class="searcher-button" (click)="searchDestination(destination.value)">
				Search Destination
			<i class="fa fa-search" aria-hidden="true"></i>
			</button>
			
		

		<div class="searcher-error" *ngIf="showEmpty === true">
				<p class="searcher-error-text">Please introduce the name of your destination</p>
		</div>
		<div class="searcher-error" *ngIf="showMisspell === true">
				<p class="searcher-error-text">We haven't found the destination: {{destination.value}}</p>
		</div>
	</section>

	<section class="destinations">
		<div class="destinations-city" *ngFor="let destination of searcher, let i of index">
			
			<img class="destinations-city-img" [src]="destination.img" [alt]="destination.city">
			<div class="destination-city-text-box">

				<h5 class="destinations-city-heading">{{destination.city}}</h5>
				<p>Touristic places</p>
				
				<ul class="package-features">
					<li *ngFor="let place of destination.places">{{place}}</li>
				</ul>

				<a [routerLink]="['/information/hotels', destination.city]" class="destinations-city-link">Go to Hotels</a>
			
			</div>
		</div>
	</section>
	
</main>



