<main class="container">
	<div class="forma-box">
		<form [formGroup]="forma" class="forma" (ngSubmit)="book()">
			<div class="forma-text">
				<small [class.is-invalid]="arrivedInvalid">Arrived</small>
				<input 	matInput [matDatepicker]="arrived"
						[min]="minDateArrived"
						disabled
						formControlName="arrived">
				<mat-datepicker-toggle matSuffix [for]="arrived"></mat-datepicker-toggle>
				<mat-datepicker #arrived disabled="false"></mat-datepicker>
			</div>
	
			<div class="forma-text">
				<small [class.is-invalid]="departedInvalid">Departed</small>
				<input 	matInput [matDatepicker]="departed"
						[min]="minDateArrived"
						disabled
						formControlName="departed">
				<mat-datepicker-toggle matSuffix [for]="departed"></mat-datepicker-toggle>
				<mat-datepicker #departed disabled="false"></mat-datepicker>
				
			</div>

			<div class="forma-text forma-button-box">
				<small>Guest</small>
				<button class="btn-price btn-left" (click)="sustPerson()" type="button" >-</button>
				<div class="package-value">
					<p> {{person}} </p>
				</div>
                <button class="btn-price btn-right" (click)="addPerson()" type="button" >+</button>
			</div>

			<div class="forma-text forma-button-box">
				<small>Search</small>
				<button class="forma-button"type="submit">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>

			<div class="forma-error" *ngIf="errors">
				<small class="is-invalid">The departed date must be before the arrived date</small>
			</div>

		</form>
	</div>

	<div *ngIf="true || showHotels">
		
		<h3>{{destination.city}}</h3>
		<section class="package">
				<div class="package-card" *ngFor="let hotel of destination.hotels">
					<div class="image image-normal">
						<img class="image-box-image" [src]="hotel.img" [alt]="hotel.name">
						<h4 class="card-heading">{{hotel.name}}</h4>
					</div>
					<div class="package-content">
						<p class="includes">Address: {{hotel.adress}}</p>
						<ul class="package-features">
							<li>Swimming Pool</li>
							<li class="hotel-feature">
								<i class="hotel-feature-icon fa fa-wifi" aria-hidden="true"></i>
								<i class="hotel-feature-icon fa fa-television" aria-hidden="true"></i>
								<i class="hotel-feature-icon fa fa-futbol-o" aria-hidden="true"></i>
							</li>
							<li>Rating: {{hotel.qualification}}</li>
							<li>Restaurant</li>
						</ul>
						<div class="package-price">
							<p class="price">{{hotel.price | currency }}</p>
							<p>Price/person</p>
						</div>
						<div class="add-box">
							<a	[routerLink]="['/information/shopping']"
								class="add-car"
								(click)="shoppingCar(hotel, person, dateArrived, dateDeparted)">
								Add to cart
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
		</section>
	</div>	


</main>
