<main class="container">
	<div class="forma-box">
		<h3>Choose a date for your journey</h3>
		<form [formGroup]="forma" class="forma" (ngSubmit)="book()">
			<div class="forma-text">
				<small>Arrived</small>
				<input 	matInput [matDatepicker]="arrived"
						[min]="minDateArrived"
						placeholder="MM/DD/YYY"
						formControlName="arrived">
				<mat-datepicker-toggle matSuffix [for]="arrived"></mat-datepicker-toggle>
				<mat-datepicker #arrived disabled="false"></mat-datepicker>
			</div>
	
			<div class="forma-text">
				<small>Departed</small>
				<input 	matInput [matDatepicker]="departed"
						[min]="minDateArrived"
						placeholder="MM/DD/YYY"
						formControlName="departed">
				<mat-datepicker-toggle matSuffix [for]="departed"></mat-datepicker-toggle>
				<mat-datepicker #departed disabled="false"></mat-datepicker>
			</div>
			

			<div class="forma-text forma-button-box">
				<small>Guest</small>
				<button class="btn-price btn-left" (click)="removePerson()" type="button" >-</button>
				<div class="package-value">
					<p> {{person}} </p>
				</div>
                <button class="btn-price btn-right" (click)="addPerson()" type="button" >+</button>
			</div>

			<div class="forma-text forma-button-box">
				<small>Search</small>
				<button class="forma-button"type="submit">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>

			<div class="forma-error" *ngIf="departedInvalid || arrivedInvalid">
				<small class="is-invalid">Please choose the date of your journey</small>
			</div>

			<div class="forma-error" *ngIf="errors">
				<small class="is-invalid">The departed date must be before the arrived date</small>
			</div>

		</form>
	</div>

	<div *ngIf="showHotels">
		
		<h3>{{destination?.city}}</h3>
		<section class="package">
			<app-card
				*ngFor="let hotel of destination?.hotels"
				[info]="getCardInfo(hotel)"
				(cardButtonAction)="shoppingCar(hotel, person, dateArrived, dateDeparted)">
				<p class="package__address">Address: {{hotel.adress}}</p>
				<div class="package__rating">
					<p>Guest: {{person}} </p>
					<p>Rating: {{hotel.qualification}}</p>
				</div>
				<p>Features: </p>
				<ul class="package__features">
					<li>Swimming Pool</li>
					<li>Wifi</li>
					<li>Restaurant</li>
					<li>Breakfast</li>
				</ul>
				<div class="package__price">
					<p class="price">{{hotel.price | currency }}</p>
					<p>Price/person</p>
				</div>
			</app-card>
				<!-- <div class="package-card" *ngFor="let hotel of destination?.hotels">
					<div class="image image-normal">
						<img class="image-box-image" [src]="hotel.img" [alt]="hotel.name">
						<h4 class="card-heading">{{hotel.name}}</h4>
					</div>
					<div class="package-content">
						<p class="includes">Address: {{hotel.adress}}</p>
						<div class="rating-box">
							<p>Guest: {{person}} </p>
							<p>Rating: {{hotel.qualification}}</p>
						</div>
						<p>Features: </p>
						<ul class="package-features">
							<li>Swimming Pool</li>
							<li class="hotel-feature">Wifi</li>
							<li>Restaurant</li>
							<li>Breakfast</li>
						</ul>
						<div class="package-price">
							<p class="price">{{hotel.price | currency }}</p>
							<p>Price/person</p>
						</div>
						<div class="add-box">
							<a	[routerLink]="['/information/shopping']"
								class="add-car"
								(click)="shoppingCar(hotel, person, dateArrived, dateDeparted)">
								Add to cart
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div> -->
		</section>
	</div>	


</main>
