<nav class="navbar">

	<ul class="links">
		<li><a class="link" [routerLink]="['/information/destinations']">Destinations</a></li>
		<li><a class="link" [routerLink]="['/information/about']">About Us</a></li>
		<li><a class="link" [routerLink]="['/information/packages']">Packages</a></li>
		<li><a class="link" [routerLink]="['/information/searcher']">Searcher</a></li>
	</ul>

	<div class="shopping-card">
		<a [routerLink]="['/information/shopping']">
			Shopping Car
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>

		</a>
	</div>
</nav>