a {
	font-weight: 500;
	color: #fff;
	font-size: 16px;
	transition: all .3s ease;

}

.link:hover {
	color: #C1D4D9;

}

.link-active {
	color: #C1D4D9;
	font-weight: 700;

}


.navbar {
	width: 100%;
	background-color: #081B26;
	position: fixed;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 15px 0;
}

.links {
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.shopping-card {
	width: 40%;
	text-align: center;
}

/*---------------Media Queries ----------------*/

@media screen and (max-width: 530px){
	a {
		font-size: 12px;
	}
	
}
