<nav class="navbar">

	<ul class="links">
		<li><a class="link" routerLinkActive="link-active" [routerLink]="['/main/home']">Home</a></li>
		<li><a class="link" routerLinkActive="link-active" [routerLink]="['/information/destinations']">Destinations</a></li>
		<li><a class="link" routerLinkActive="link-active" [routerLink]="['/information/about']">About Us</a></li>
	</ul>

	<div class="shopping-card">
		<a routerLinkActive="link-active" [routerLink]="['/information/shopping']">
			Shopping Cart
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>

		</a>
	</div>

</nav>