<main class="container">

    <section class="shopping-car" *ngIf="shoppingCarArr.length !== 0 && thanks === false">

        <div class="shopping-car-box">
		    <h3>Shopping Cart</h3>
            
            <table class="shopping-table">
                <thead>
                    <tr class="shopping-table-row title">
                        <th>Hotel</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Guest(s)</th>
                        <th>Price/unit</th>
                        <th>Price/journey</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="shopping-table-row" *ngFor="let item of shoppingCarArr; let i = index">
                        <th data-titulo="Hotel"> {{item.name}} </th>
                        <th data-titulo="Address"> {{item.adress}} </th>
                        <th data-titulo="Date"> {{item.date1 | date:'shortDate'}} - {{item.date2 | date:'shortDate'}} </th>
                        <th data-titulo="Guest(s)"> {{item.person}} </th>
                        <th data-titulo="Price/unit"> {{item.price | currency}} </th>
                        <th data-titulo="Price/journey"> {{item.price * item.person | currency}} </th>
                        <th data-titulo="Remove">
                            <button (click)="removeItem(i)" class="shopping-table-remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                    <tr class="total-display">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th>{{totalPrice | currency}}</th>
                        <th></th>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div class="shopping-car-form">
            <form class="shopping-form" [formGroup]="forma" (ngSubmit)="sendInformation()">
                <div class="shopping-input">
                    <label for="name">Name</label>
                    <input  type="text"
                            class="text"
                            maxlength="15"
                            formControlName="name"
                            placeholder="Name">
                    <small class="shopping-input-error"
                            *ngIf="nameInvalid">Please write your name</small>
                </div>
                <div class="shopping-input">
                    <label for="lastName">Last Name</label>
                    <input  type="text"
                            class="text"
                            maxlength="15"
                            formControlName="lastName"
                            placeholder="Last Name">
                    <small class="shopping-input-error"
                            *ngIf="lastNameInvalid">Please write your last name</small>
                </div>
                <div class="shopping-input">
                    <label for="email">Email</label>
                    <input  type="email"
                            class="text"
                            maxlength="30"
                            formControlName="email"
                            placeholder="email">
                    <small class="shopping-input-error"
                            *ngIf="emailInvalid">Write a valid Email</small>
                </div>
                <div class="shopping-input">
                    <label for="confirmEmail">Conrfirm Email</label>
                    <input  type="email"
                            class="text"
                            formControlName="confirmEmail"
                            placeholder="Confirm email">
                    <small class="shopping-input-error"
                            *ngIf="confirmEmailInvalid">The emails has to be the same</small>
                </div>
                
                <div class="shopping-payment">
                    <div class="shopping-payment-cards">
                        <div>
                            <label for="">Debit Card</label>
                            <input  type="radio"
                                    value="debit"
                                    formControlName="payment">
                        </div>
                        <div>
                            <label for="">Credit Card</label>
                            <input  type="radio"
                                    value="credit"
                                    formControlName="payment">
                        </div>
                        <small *ngIf="paymentInvalid">Please select one payment method</small>
                    </div>

                    
                </div>
                <form   [formGroup]="formaDebit"
                        (ngSubmit)="validDebit()"
                        class="shopping-payment-debit"
                        *ngIf="paymentDebit">
                    <div class="shopping-payment-debit-box">

                        <h3 class="forma-debit-heading">Choose your bank</h3>
                        <div>
                            <div class="shopping-payment-debit-inputs">
                                <div>
                                    <label for="">Bank of America</label>
                                    <input  type="radio"
                                    value="America"
                                    formControlName="bank">
                                </div>
                                <div>
                                    <label for="">Wells Fargo</label>
                                    <input  type="radio"
                                    value="Fargo"
                                    formControlName="bank">
                                </div>
                                <div>
                                    <label for="">JPMorgan Chase</label>
                                    <input  type="radio"
                                    value="JPMorgan"
                                    formControlName="bank">
                                </div>
                            </div>
                            <small *ngIf="bankInvalid">Please select a bank</small>
                            <small class="forma-check" *ngIf="debitValid && !bankInvalid"><i class="fa fa-check-circle-o" aria-hidden="true"></i></small>
                 
                        </div>
                        <div class="shopping-input-password">
                            <div>
                                <label for="">Password</label>
                                <input  type="password"
                                        class="password-debit"
                                        placeholder="password"
                                        maxlength="4"
                                        formControlName="password">
                                <small *ngIf="passwordInvalid">The password needs 4 numbers</small>
                                <small class="forma-check" *ngIf="debitValid && !passwordInvalid"><i class="fa fa-check-circle-o" aria-hidden="true"></i></small>
                           
                            </div>
                            <button class="btn btn-white btn-with" type="submit">Verify</button>
                        </div>
                    </div>
                </form>
                
                
                <form   [formGroup]="formaCredit"
                        (ngSubmit)="validCredit()"
                        *ngIf="paymentCredit"
                        class="shopping-payment-credit">


                            <div class="shopping-payment-credit-number">
                                <label for="">Credit Card Number</label>
                                <input  type="password"
                                        class="credit-number"
                                        placeholder="Credit Card Number"
                                        maxlength="16"
                                        formControlName="creditCardNumber">
                                <small *ngIf="creditNumberInvalid">Your credit card number has to be 16 numbers</small>
                                <small class="forma-check" *ngIf="creditValid && !creditNumberInvalid"><i class="fa fa-check-circle-o" aria-hidden="true"></i></small>
                            
                            </div>

                            <div class="shopping-payment-expiration-date">
                                <h5>Expiration Date</h5>
                                <div>
                                    <input  type="password"
                                            class="credit-expiration"
                                            placeholder="MM"
                                            maxlength="2"
                                            formControlName="creditCardMonth">
                                </div>
                                <div>
                                    <input  type="password"
                                            class="credit-expiration"
                                            placeholder="YY"
                                            maxlength="2"
                                            formControlName="creditCardYear">
                                </div>
                                <small *ngIf="creditMonthInvalid || creditYearInvalid">The expiration date is invalid</small>
                                <small class="forma-check" *ngIf="creditValid && (!creditMonthInvalid && !creditYearInvalid)"><i class="fa fa-check-circle-o" aria-hidden="true"></i></small>
                                
                            </div>

                            <div class="shopping-payment-credit-code">
                                <label for="">CVV Code</label>
                                <input  type="password"
                                        class="password-debit"
                                        placeholder="password"
                                        maxlength="3"
                                        formControlName="creditCardCode">
                                <small *ngIf="creditCodeInvalid">Your CVV Code has to be 3 numbers</small>
                                <small class="forma-check" *ngIf="creditValid && !creditCodeInvalid"><i class="fa fa-check-circle-o" aria-hidden="true"></i></small>
                            </div>
                            <div class="btn-box">
                                <button class="btn btn-white" type="submit">Verify</button>
                            </div>

                </form>

               
                    
                
                <div class="shopping-input">
                    <p>Total to pay</p>
                    <p>{{totalPrice | currency}}</p>
                </div>
                <div class="shopping-form-button">
                    <button class="btn btn-white margin-center" type="submit">Buy</button>
                </div>
            </form>

        

        </div>

        <div class="shopping-car-composition">
            <div class="effect">
                <img    src="./../../../../../assets/img/composition-1.jpg"
                        alt="img 1"
                        class="shopping-car-composition-img img-1">
                <img    src="./../../../../../assets/img/composition-2.jpg"
                        alt="img 2"
                        class="shopping-car-composition-img img-2">
                <img    src="./../../../../../assets/img/composition-3.jpg"
                        alt="img 3"
                        class="shopping-car-composition-img img-3">
            </div>
        </div>


    </section>

    <section class="error" *ngIf="shoppingCarArr.length === 0">
        <i class="fa fa-exclamation-circle error-icon" aria-hidden="true"></i>
        <p class="error-text">You haven't choosed any package yet</p>
        <a [routerLink]="['/information/destinations']" class="btn btn-white btn-responsive">Go to Destinations</a>
    </section>

    <section class="thanks" *ngIf="thanks">
        <i class="fa fa-check-circle-o check-icon" aria-hidden="true"></i>
        <h5>Thank you for buying with us!</h5>
        <p>There's a lot of choices there but you singled us out and that means a lot. We just want to express how much we appreciate your choice. When you're looking for something truly special, we hope that we'll continue to be the place you think first.</p>
        <a [routerLink]="['/main/home']" class="btn btn-white btn-responsive" (click)="emptyArr()">Go to Home</a>
    </section>
    

</main>