h3 {
	font-size: 32px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 10px;
}


.margin-center {
    margin: 0 auto;
}

.margin-bottom {
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
    padding-top: 120px;
    padding-bottom: 80px;
}

.shopping-car {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shopping-car-box {
    width: 100%;
    margin: 20px auto 20px auto;
    color: #fff;
}

.shopping-table {
    width: 100%;
    margin-bottom: 20px;
}

.shopping-table-row {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #C1D4D9;
    padding-top: 15px;
    font-size: 16px;
}

th {
    padding-top: 20px;
}

.shopping-table-remove {
    border-radius: 100px;
    border: 1px solid #700f0b;
    background-color: #700f0b;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
    transform: translateY(-5px);
    cursor: pointer;
}

.shopping-car-form {
    width: 50%;
}

.shopping-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

.shopping-input {
    width: 48%;
    margin-bottom: 10px;  

}

.shopping-input label {
    width: 100%;
}

.text {
    width: 90%;
    background-color: transparent;
    margin-left: 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #C1D4D9;
    color: #fff;
}

.forma-check {
    color: #0b9ba5;
}

small {
    color: #ff1a14;
    display: block;

}

.shopping-form-button {
    width: 100%;
    margin: 0 auto;
}

.shopping-form-button button {
    display: block;
}

.shopping-payment {
    margin-bottom: 20px;
}

.error {
    width: 60%;
    border: 1px solid #ff1a14;
    text-align: center;
    color: #ff1a14;
    padding: 40px 0;
}

.error-icon {
    font-size: 144px;
    margin-bottom: 15px;
}

.error-text {
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
    cursor: default;
}

/*--------style formaDebit -----------*/

.shopping-payment-debit {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.shopping-payment-debit-box {
    width: 100%;
}

.forma-debit-heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.shopping-payment-debit-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.shopping-input-password {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.shopping-input-password div {
    margin-bottom: 15px;
}

.password-debit {

    background-color: transparent;
    margin-left: 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #C1D4D9;
    color: #fff;
}



/*-------------------- Style from credit -----------------*/

.shopping-payment-credit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shopping-payment-credit input {
    background-color: transparent;
    margin-left: 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #C1D4D9;
    color: #fff;
}

.shopping-payment-credit label {
    display: block;
}

.shopping-payment-credit-number,
.shopping-payment-credit-code {
    width: 40%;
}

.shopping-payment-expiration-date {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shopping-payment-expiration-date h5 {
    width: 100%;
}

.shopping-payment-expiration-date div {
    width: 40%;
}

.shopping-payment-expiration-date div .credit-expiration {
    width: 100%;
}

.btn-box {
    width: 40%;
}

/*------------- composition -----------------*/

.shopping-car-composition {
    width: 50%;
    height: 340px;
    position: relative;
}

.shopping-car-composition .effect:hover  .shopping-car-composition-img:not(:hover) {
    transform: scale(.95, .95);
}

.shopping-car-composition-img {
    width: 45%;
    height: 50%;
    border-radius: 3px;
    box-shadow: 0px 10px 15px #000;
    position:absolute;
    outline-offset: 10px;
    z-index: 1;
    transition: all .3s ease;
}

.shopping-car-composition-img:hover{
    outline: 5px solid #C1D4D9;
    transform: scale(1.05, 1.05);
    z-index: 2;

}

.img-1 {
    top: 5%;
    left: 5%;
}

.img-3 {
    top: 50%;
    left: 30%;
}

.img-2 {
    top: 5%;
    left: 55%;
}

/*------ THANKS ---------*/

.thanks {
    width: 60%;
    border: 1px solid #C1D4D9;
    text-align: center;
    color: #fff;
    padding: 40px 0;
}

.thanks h5 {
    font-size: 32px;
    margin-bottom: 20px;
}

.thanks p {
    font-size: 20px;
    margin-bottom: 30px;
}

.check-icon {
    font-size: 144px;
    margin-bottom: 15px;
    color: #0b9ba5;
}

/*---------------Media Queries-----------------*/

@media screen and (max-width: 1080px){
    table {
        width: 100%;
    }

    table tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    table tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
    }

    table > :first-child {
        display: none;
    }
    table th {
        height: 60px;
        width: 50%;

    }


    table th[data-titulo] {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }

    table th[data-titulo]::before {
        content: attr( data-titulo);
        width: 35%;
        font-size: 18px;
        font-weight: 700;
        text-align: justify;
    }

    table .total-display {
        display: none;
    }

 
}



@media screen and (max-width: 900px){

    table th[data-titulo]:last-child {
        margin-bottom: 40px;
        width: 100%;
    }

    table th[data-titulo]::before {
        width: 100%;
    }

    table th[data-titulo]:last-child::before {
        margin-bottom: 10px;
    
    }

    .shopping-car-form {
        width: 100%;
    }

    .shopping-car-composition {
        display: none;
    }
}

@media screen and (max-width: 460px){

    table th[data-titulo] {
        margin-bottom: 30px;

    }
    
   

}