<!--<main class="container">
	<section class="box-button">
		<button (click)="goToMenu()">Go Back</button>
	</section>
	<section>
		<h4>Filter By Continent</h4>
		<button (click)="continentFilter('Africa')">Africa</button>
		<button (click)="continentFilter('Americas')">Americas</button>
		<button (click)="continentFilter('Asia')">Asia</button>
		<button (click)="continentFilter('Europe')">Europe</button>
		<button (click)="continentFilter('Oceania')">Oceania</button>
		<button (click)="continentFilter('Polar')">Polar</button>

	</section>

	<section class="countries">
		<figure *ngFor="let country of countries;" (click)="goToCountry(country.name)">
			<img [src]="country.flag" alt="flag of {{country.name}}">
			<figcaption>
				<h5> {{country.name}} </h5>
			</figcaption>
		</figure>
	</section>
</main>-->
<h1>Paises Visitados</h1>