.container {
	background-color: rgba(0,0,0, .5);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	position: relative;
	margin: 30px auto;
	padding: 30px;
	animation: appearComponents 1s ease;
}


.container .box-button{
	background: black;
	color: #fff;
	width: 100%;
	position: relative;

}

.container .box-button button{
	position:absolute;
	right: 0;
	padding: 10px 15px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.container section {
	width: 100%;
	margin: 20px auto;
	display: flex;
	flex-direction: column
}

.container section h4 {
	color: #fff;
	font-size: 32px;
	letter-spacing: 2px;
	text-align: center;
	margin: 20px 0;
}

.container section button{
	padding: 15px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	margin: 0px 15px;
}

.container section button:hover{
	background: rgba(255,255,255, 0.175);
	transition: all 0.6s ease; 
}

.container .countries {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.container figure {
	width: 17%;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s ease; 
}

.container figure:hover{
	box-shadow: 0 10px 20px rgb(31, 29, 29);
	border-bottom: none;

	transform: scale(1.1, 1.1) translate(0px, -5px);
}

.container figure:active{
	transform: scale(1.1, 1.1) translate(0px, -1px);
}

.container figure img{
	vertical-align: top;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}

.container figure figcaption h5{
	text-align: center;
	margin: 5px 0;
	color: #fff;

}

/*---------MEDIA QUERIES---------*/

@media screen and (max-width: 750px){
	.container figure {
		width: 24%;
	}
}

@media screen and (max-width: 600px){
	.container figure {
		width: 49%;
	}
}

@media screen and (max-width: 400px){
	.container {
		justify-content: center;
	}
	.container figure {
		width: 90%;

	}
}