<main class="container">

	<section class="about-header">
		<section class="about-header-heading">
			<h3 class="">About Pensycountries</h3>
			<h4>
				Pensycountries can take you to several destinations around the world.
			</h4>
			<a [routerLink]="['/information/destinations']" class="btn btn-white">Go to destinations</a>
		</section>
	</section>
	<section class="about-features">

		<div class="about-feature  margin-right">
			<i class="fa fa-clock-o icon color-feature_1" aria-hidden="true"></i>
			<h5>Your time is valuable to us</h5>
			<p>We know that you want to know everything about the country you are visiting, which is why we enhanced our travel packages in order to cover the most touristic territory of the country.</p>
		</div>

		<div class="about-feature  margin-right">
			<i class="fa fa-star icon color-feature_2" aria-hidden="true"></i>
			<h5>The best experience</h5>
			<p>Our guides show you a list of places that you don't want to miss in your journey, besides the best food and the most remarkable hotel to give you the best experience of all.</p>
		</div>

		<div class="about-feature  margin-right">
			<i class="fa fa-check icon color-feature_3" aria-hidden="true"></i>
			<h5>Supreme confort to you</h5>
			<p>Our mission is to give you comfort every step of the exploration of new places, you are going to be looking forward to travel with us again.</p>
		</div>

	</section>

	<section class="about-explore">

			<div class="cards margin-bottom">
				<div class=" card card_front">
					<h5 class="heading">Associates</h5>
				</div>
				<div class=" card card_back">
					<p class="text">Pensycountries is conformed by a dynamic team, we trust eachother to get the job done, every associate is happy to be working with us, and this contagious happiness makes your path with us even more memorable.</p>
				</div>

			</div>

			<div class="cards margin-bottom">
				<div class="card card_front">
					<h5 class="heading">Customers</h5>		
				</div>
				<div class="card card_back">
					<p class="text">Our customers always comeback, they always are looking for us to travel to the most amaizing places around the world, we feel greatful for the incredible community that we have formed throghtout the years.</p>
				</div>
			</div>

			<div class="cards">
				<div class="card card_front">
					<h5 class="heading">Trajectory</h5>
				</div>
				<div class="card card_back">
					<p class="text">In February 2002, we founded PensyCountries with the desire and intention of becoming one of the best travel agencies in the world. In 2015 we were recognized worldwide as one of the best and most complete hotel agencies in the world.</p>	
				</div>

			</div>

	</section>

	<section class="about-philosophy">
		<div class="photo photo_1">
			<div class="effect effect_1">
				<p class="heading">Mission</p>
				<p class="text">Build a lasting customer relationship by establishing exceptional and satisfying service</p>
			</div>
		</div>
		<div class="photo photo_2">
			<div class="effect effect_2">
				<p class="heading">Vision</p>
				<p class="text">To be the leading company in the market that offers a complete travel service to the client</p>
			</div>
		</div>
		<div class="photo photo_3">
			<div class="effect effect_3">
				<p class="heading">Philosophy</p>
				<p class="text">Improve service quality through critical thinking and smart work</p>
			</div>
		</div>
	</section>
</main>