<footer>
    <table>

        <tr class="border-bottom">

            <th class="wide">
                <i class="fas fa-plane margin-bottom"></i>
                <h2 class="logo-heading">PCS</h2>
            </th>

            <th class="border-left wider">
                <h5 class="margin-bottom">Customer Service</h5>

                <ul class="display-flex">

                    <li>
                        <i class="fa fa-mobile margin-right" aria-hidden="true"></i>
                        <p >Schedule: 09:00 a 21:00</p>
                    </li>

                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p >+56 7 5428 9914</p>
                    </li>

                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p >cntriesTM@pensyco.com</p>
                    </li>

                </ul>

            </th>

            <th class="border-left wide">
                <h5 class="margin-bottom">Pay with</h5>
                    <ul class="display-flex">
                        <li>
                            <i class="fa fa-credit-card-alt margin-left" aria-hidden="true"></i>
                            <p>Credit card</p>
                        </li>
                        <li>
                            <i class="fa fa-paypal margin-left" aria-hidden="true"></i>
                            <p>Pay pal</p>
                        </li>
                    </ul>
            </th>

        </tr>
        <tr class="border-bottom">
            <th class="wide">
                <h5>Follow us</h5>
                <i class="fa fa-facebook-official margin-right" aria-hidden="true"></i>
                <i class="fa fa-instagram margin-left margin-bottom" aria-hidden="true"></i>
            </th>

            <th class="border-left wider">
                <h5 class="margin-bottom">Menu</h5>
                <ul class="links">
                    <li><a class="link" [routerLink]="['/information/destinations']">Destinations</a></li>
                    <li><a class="link" [routerLink]="['/information/about']">About Us</a></li>
                    <li><a class="link" [routerLink]="['/information/shopping']">Shooping Cart</a></li>
                </ul>
            </th>
            <th class="border-left wide">
                <h5>Address</h5>
                <p>Highway Violeta Parra, street Rossevelt 876</p>
            </th>
        </tr>
    </table>

</footer>