
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #081B26;
    
}

table {
    color:#fff;
    width: 80%;

}

i {
    color: #518C8C;
}

tr {
    width: 100%;
}

h5 {
    font-size: 24px;
    font-weight: 100;
    margin: 15px 0;
}


i {
    font-size: 38px;
    cursor: pointer;
}

.border-left {
    
    border-left: 1px solid #C1D4D9;
}

.border-bottom {
    border-bottom: 1px solid #C1D4D9;

}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
}


.wider {
    width: 60%;
}

.wide {
    width: 20%;
}


.display-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

li i, li p {
    margin-bottom: 20px;
}


.fa-plane {
    font-size: 60px;
    background-color: #518C8C;
    letter-spacing: 2px;
    color: transparent;
    background-clip: text;
    transform: translateY(30px);
}

.logo-heading {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #518C8C;
    letter-spacing: 2px;
    color: transparent;
    background-clip: text;
    margin-top: 30px;

}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
}

.link {
    color: #fff;
}

/*------------Media Queries ---------------------*/


@media screen and (max-width: 990px){

    table {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    table tr {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    table tr th {
        height: 200px;
        width: 90%;
        border-bottom: 1px solid #C1D4D9;
    }

    .display-flex .fa {
        display: none;
    }

    .border-left {
    
        border-left: none;
    }
    
    .border-bottom {
        border-bottom: none;
    
    }


}

@media screen and (max-width: 700px){

    .links, .display-flex {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li i, li p {
        margin-bottom: 0px;
        
    }
    
}

@media screen and (max-width: 500px){
    
    h5 {
        font-size: 20px;
    }
    
    p, li a {
        font-size: 14px;
    }
    li i, li p {
        margin-bottom: 6px;
        
    }
    
}
