h3 {
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 40px;
}

h4 {
font-size: 24px;
letter-spacing: 2px;
text-align: center;
margin-bottom: 40px;
}


.container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 90%;
max-width: 1300px;
position: relative;
margin: 0 auto;
background-color: rgba(0,0,0,.8);
}

.container > * {
color: #fff;
}

.countries-header {
background-image: 	linear-gradient(to right bottom, rgba(4, 81, 87, 0.4), rgba(7, 150, 160, .4)),
					url(./../../../../../assets/img/package-heading-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
padding: 300px 0;
clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
position: relative;
text-align: center;
}

.countries-header-heading {
width: 70%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/*---- SECTION SEARCHER-SEARCHER ----*/

.searcher-searcher {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 60px;
}


.searcher-input {
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #C1D4D9;
	font-size: 20px;
	color: #fff;
	font-weight: 100;
	letter-spacing: 2px;
	width: 200px;
}

.searcher-button {
	width: 200px;
	display: inline-block;
	text-align: center;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px ;
	border: 1px solid #C1D4D9;
	cursor: pointer;
	transition: all .6s ease;
	margin-left: 15px;
	margin-bottom: 15px;

}

.searcher-button i {
    font-size: 20px;
    margin-left: 10px;
    color: #000;
    transition: all .6s ease;

}

.searcher-button:hover,
.searcher-button:hover i {
    background-color: transparent;
    color: #fff;
}
.searcher-button:focus {
	outline: 0;
}


.searcher-error {
	width: 100%;
	text-align: center;
	animation: appearComponents .3s;
}

.searcher-error-text {
	font-size: 16px;
	color: #ff1a14;
}


/*---------------------Destinations-----------*/

.destinations {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 80px 40px;
	column-gap: 5%;
	row-gap: 40px;

	app-card {
		flex-grow: 1;
		max-width: 30%;
	}


	&__heading {
		font-size: 24px;
		text-align: justify;
		padding-left: 12px;
	}
	&__subtitle {
		margin-bottom: 20px;
		font-size: 20px;
		padding-left: 12px;
	}
	
	&__content {
		list-style: none;
		width: 100%;
		margin: 0 auto;
		cursor: default;
	}
	
	&__content > li {
		border-bottom: 1px solid #C1D4D9;
		text-align: center;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
}



/*------------Media Queries ----------------*/

@media screen and (max-width: 1026px){
	.destinations {
		column-gap: 2%;
		row-gap: 20px;

		app-card {
			max-width: 49%;
		}
	}

	
}

@media screen and (max-width: 714px){
	.searcher-input {
		width: 60%;
		margin-bottom: 20px;
	}

	.searcher-button {
		margin-left: 0;
		width: 60%;

	}

	.destinations {
		app-card {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 519px){

	.countries-header-heading h3 {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.countries-header-heading h4 {
		font-size: 20px;
		margin-bottom: 15px;

	}

}
