<main class="container">
	<section class="countries-header">
		<section class="countries-header-heading">
			<h3 class="">Places to be in Pensycountries</h3>
			<h4>
				Pensycountries has a lot of destination for you to visit.
			</h4>
		</section>
	</section>

	<section class="searcher-searcher">
		
		<input
			class="searcher-input"
			type="text"
			placeholder="Destination"
			maxlength="20"
			[formControl]="destinationControl"
			(keyup.enter)="searchDestination(destinationControl.value)"
		/>
		<button
			class="searcher-button"
			(click)="searchDestination(destinationControl.value)">
			Filter Destination
		</button>		
	
		<div class="searcher-error" *ngIf="showMisspell">
			<p class="searcher-error-text">We haven't found the destination: <strong>{{destinationControl.value}}</strong></p>
		</div>
	</section>

	<section class="destinations">
		<app-card *ngFor="let destination of destinations" [info]="getCardInfo(destination)">
			<h5 class="destinations__heading">{{destination.city}}</h5>
			<p class="destinations__subtitle">Touristic places</p>
			
			<ul class="destinations__content">
				<li *ngFor="let place of destination.places">{{place}}</li>
			</ul>
		</app-card>
	</section>
	
</main>