h3 {
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 40px;
}

h4 {
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 40px;
}


.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
}

.container > * {
    color: #fff;
}

.package-header {
	background-image: 	linear-gradient(to right bottom, rgba(4, 81, 87, 0.4), rgba(7, 150, 160, .4)),
						url(./../../../../../assets/img/package-heading-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 300px 0;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	position: relative;
	text-align: center;
}

.package-header-heading {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 15px 20px;
	color: #252525;
	border-radius: 100px;
	border: none;
	position: relative;
	transition: all ease .3s;
	outline: 0;

}

.btn:hover {
	cursor: pointer;
	transform: translateY(-2px);
	box-shadow: 0 8px 15px rgba(0,0,0,.4);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 3px 8px rgba(0,0,0,.4);
}

.btn::after {
	content: '';
	border-radius: 100px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	top: 0;
	left:0;
	z-index: -1;
	transition: all ease .3s;

}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-white {
	background: #fff;
}

/*---- PACKAGE */

/*---- NORMAL */

.package {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 0;

}

.package-heading {
    width: 100%;
}

.package-card {
    border: 1px solid #fff;
}

.package-card:hover .image::after {
    opacity: 0;
}

.package-card:hover .card-heading {
    opacity: 0;
}
/*background-image: linear-gradient(to right bottom, #998f03, #bdb65b);
background-image: linear-gradient(to right bottom, #0349b3, #5a89cf);*/


.image {
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
    cursor: default;
    padding: 120px 180px;
    background-position: center;

}

.image-normal {
    background-image: url(./../../../../../assets/img/normal-package.jpg);

}

.image-premium {
    background-image: url(./../../../../../assets/img/premium-package.jpg);

}

.image-king {
    background-image: url(./../../../../../assets/img/king-package.jpg);

}

.image::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .6s ease;
}





.card-heading {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.package-content {
    padding: 15px;
}

.includes {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 15px;
}

.package-features {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    cursor: default;
}

.package-features > * {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.package-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: default;
}

.button-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 20px;
    width: 50%;
    overflow: hidden;
    background-color: #000;
}

.button-price {
    font-size: 20px;
    font-weight: 700;
    width: 25%;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
}

.package-value {
    color: #000;
    background-color: #fff;
    width: 50%;
    padding: 3px 0;
    text-align: center;
    border-radius: 3px;

}

.add-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-car {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 60%;
    background-color: #fff;
    color: #000;
    border-radius: 20px ;
    border: 1px solid #fff;
    transition: all .6s ease;
}

.add-car i {
    font-size: 20px;
    margin-left: 10px;
    color: #000;
    transition: all .6s ease;

}

.add-car:hover,
.add-car:hover i {
    background-color: transparent;
    color: #fff;
}