<footer>
    <table>

        <tr class="border-bottom">

            <th class="wide">
                <i class="fas fa-plane margin-bottom"></i>
                <h2 class="logo-heading">PCS</h2>
            </th>

            <th class="border-left wider">
                <h5 class="margin-bottom">Customer Service</h5>

                <tr class="display-flex">

                    <th>
                        <i class="fa fa-mobile margin-right margin-bottom" aria-hidden="true"></i>
                        <p class="margin-bottom">Schedule: 09:00 a 21:00</p>
                    </th>

                    <th>
                        <i class="fa fa-phone margin-bottom" aria-hidden="true"></i>
                        <p class="margin-bottom">+56 7 5428 9914</p>
                    </th>

                    <th>
                        <i class="fa fa-envelope-o margin-bottom" aria-hidden="true"></i>
                        <p class="margin-bottom">pensyCountriesTM@gmail.com</p>
                    </th>

                </tr>

            </th>

            <th class="border-left wide">
                <h5 class="margin-bottom">Paga con</h5>
                    <p class="margin-right margin-bottom">Credit card <i class="fa fa-credit-card-alt margin-left" aria-hidden="true"></i></p>
                    <p class="margin-right">Pay pal <i class="fa fa-paypal margin-left" aria-hidden="true"></i></p>
            </th>

        </tr>
        <tr class="border-bottom">
            <th class="wide">
                <h5>Follow us</h5>
                <i class="fa fa-facebook-official margin-right" aria-hidden="true"></i>
                <i class="fa fa-instagram margin-left margin-bottom" aria-hidden="true"></i>
            </th>

            <th class="border-left wider">como estas</th>
            <th class="border-left wide">
                <h5>Address</h5>
                <p>Highway Violeta Parra, street Rossevelt 876</p>
            </th>
        </tr>
    </table>

</footer>